* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #141414;
    color: white;
    font-family: monospace, sans-serif;
}

button {
    border-style: none;
    padding: 0.3rem 2rem;
    background-color: blueviolet;
    color: white;
    border-radius: 0.2rem;
    cursor: pointer;
}

button:hover {
    opacity: 0.6;
}

a {
    font-size: 0.7rem;
}

h1 {
    text-align: center;
}
