.contanier {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 100%;
    height: 900px;
    align-items: flex-start;
    justify-content: space-between;
}

.login {
    width: 556px;
    height: 692px;
    align-items: center;
    display: flex;
    justify-content: center;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: inline-flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.button1 {
    margin-top: 50px;
    margin: 20px 10px 5;
    width: 520px;
    height: 96px;
    border-radius: 15px;
    background: #04737C;

}

.input {
    width: 520px;
    height: 96px;
    border-radius: 15px;
    display: inline-flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #636363;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.h1 {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #000;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.h2 {
    color: #000;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.entrar {
    color: #ffffff;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    z-index: 1000;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    text-align: center;
}

.a {
    display: inline-flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.showPasswordButton {
    display: inline-flex;
}

.modal {
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
    align-items: bottom;
    width: 22vw;
    height: 339px;
    border-radius: 15px;
    background: #B9DEE0;
}

.modal button {
    margin-top: 30px;
    margin: 20px 10px 5;
    width: 100%;
    height: 96px;
    border-radius: 15px;
    background: #04737C;
    color: #ffffff;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}

.h4 {
    cursor: pointer;
    padding: 10px;
    justify-content: end;
    align-items: center;
    text-align: end;
    gap: 10px;
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.modal input {
    width: 100%;
    height: 96px;
    border-radius: 15px;
    border-radius: 15px;
    background: #FFF;
    padding: 10px 10px 10px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.modal ::placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #636363;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.modal h4 {
    padding: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: auto;
    text-align: center;
    gap: 10px;
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.inputcontainer {
    position: relative;
}

.inputcontainer input {
    padding-right: 30px;
}

.inputcontainer .icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-image: url('../../../public/Group.png');
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
}