/* styles.module.css */
.paginainicial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 45vw;
    justify-content: center;
}

.header {
    margin-left: 1170px;
    /* display: flex;
    flex-direction: column; */
    justify-content:flex-end;
    align-items: center;
    padding: 10px 20px;

}

.botao {
    margin-top: 10%;
    display: flex;
    justify-content: space-between;
  }

.adicionar {
    display: grid;
    justify-content: center;
    width: 100%;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    max-width: 80%;
    width: 240px;
  }

  .inputcontainer {
    display: grid;
    width: 100%;
    justify-content: center;

}




  .adicionar h4 {
    
    text-align: center;
  }

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Fundo semi-transparente para o modal */
    display: flex;
    justify-content: center;
    align-items: center;
  }
.table img {
    width: 20px;
    margin-left: 1px;
    margin-right: 1px;
  }

.table td {
    padding: 1px;
    margin-right: 5px;
    text-align: center;
    box-shadow: 0;
}



.table {
    margin-left: 10px;
    justify-content: space-between;
    display: flex;
    align-items:center;
    width: 1220px;
}

.imagem {
    cursor: pointer;
    width: 100px;
    height: 100px;
    display: flex;
}

.esq {
    width: 120px;
    height: 200px;
    display: flex;
}

.navdiv {
    margin-top: 25px;
    align-items: center;

}

.navdiv1 {
    margin-right: 500px;
    align-items: center;
    display: flex;
}

.navdiv img {
    width: auto;
    cursor: pointer;
    border-radius: 15px;
    background: #04737c;
    margin-right: 5px;
}

.navdiv button {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.element {
    margin-bottom: 40px;
    height: 180px;
}

.rectangle {
    box-shadow: 0px 4px 4px #00000040;
    height: 692px;
    color: white;
    width: 100%;
    height: 96px;
    border-radius: 15px;
    background: #04737C;
    cursor: pointer;
}

.rectangle1 {
    margin: 40px 0px;
    box-shadow: 0px 4px 4px #00000040;
    height: 692px;
    color: white;
    width: 100%;
    height: 96px;
    border-radius: 15px;
    background: #04737C;
    cursor: pointer;
}

.overlapgroup {
    padding: 18px;
    width: 100%;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

@media (max-width: 1250px) {
    .paginainicial {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 80vw;
        justify-content: center;
    }

}

@media (max-width: 425px) {
    .paginainicial {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 64vw;
        justify-content: center;
    }

}