/* Estilos para o modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Fundo semi-transparente para o modal */
  display: flex;
  justify-content: center;
  align-items: center;
}

.adicionar {
  background-color: white;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  max-width: 80%;
  width: 400px;
}
.botao{
  display: flex;
  justify-content: space-between;
}

.adicionar h4 {
  font-size: 20px;
  margin: 0 0 20px;
}

.inputcontainer1 {
  width: 100%;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0 10px;
  font-size: 16px;
  margin-right: 10px;
  margin-bottom: 20px;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.inputcontainer {
  margin-bottom: 20px;
}

.inputcontainer select,
.inputcontainer input[type="text"],
.inputcontainer input[type="nome"],
.inputcontainer input[type="email"],
.inputcontainer input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

button {
  background-color: #04737c;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: #035e68;
}

p {
  color: #04737c;
  text-align: center;
  cursor: pointer;
  margin-top: 10px;
}

/* Estilos globais */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

/* Estilos do container principal */
.ADMINUSUARIOS {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

/* Estilos do cabeçalho */
.nav {
  width: 100%;
  background-color: #04737c;
  padding: 10px 0;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav h1 {
  color: white;
  margin: 0;
  font-size: 24px;
}

.nav button {
  cursor: pointer;
  color: white;
  background-color: transparent;
  border: none;
  margin-left: 10px;
}

/* Estilos da tabela */
.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table th,
.table td {
  text-align: center;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
}

/* Estilos dos botões da tabela */
.table button {
  cursor: pointer;
  background-color: #04737c;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  margin-right: 5px;
}

/* Estilos do modal */
.modal {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 80%;
  max-width: 400px;
}

/* Estilos dos campos de entrada no modal */
.modal-content input[type="text"],
.modal-content input[type="email"],
.modal-content input[type="password"],
.modal-content select {
  width: 100%;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0 10px;
  font-size: 16px;
  margin-bottom: 10px;
}

/* Estilos dos botões no modal */
.modal-content button {
  background-color: #04737c;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
}

/* Estilos da paginação */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.circledRight {
  height: 24px;
  width: 24px;
  fill: #04737c;
}

.pageNumber {
  font-size: 20px;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 50px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  height: 40px;
  width: 40px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pageNumber1 {
  font-size: 20px;
  margin: 0 10px;
  /* cursor: pointer; */
  border-radius: 50px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  height: 40px;
  width: 40px;
  /* background-color: #fff; */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilos do rodapé */
footer {
  width: 100%;
  background-color: #04737c;
  padding: 10px 0;
  text-align: center;
  box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.2);
  color: white;
}

/* Estilos da imagem do perfil do usuário */
.userProfile {
  display: flex;
  align-items: center;
}

.accountCircle {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

/* Estilos de responsividade (ajuste conforme necessário) */
@media (max-width: 768px) {
  .col {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

/* Estilos da barra de navegação */
.navdiv {
  align-items: center;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
}

.navdiv img {
  cursor: pointer;
}

.navdiv button {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

/* Estilos do campo de pesquisa */
.pesquisa {
  display: flex;
  justify-content: flex-end;
  /* Alinha à direita */
  align-items: center;
  margin-bottom: 20px;
}

/* Estilos do campo de pesquisa e do botão */
.inputGroup {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.pesquisarnome {
  display: flex;
  justify-content: flex-end;
}

.inputGroup input {
  width: 100%;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0 10px;
  font-size: 16px;
  margin-right: 10px;
  /* Espaço entre o campo de pesquisa e o botão */
}

.inputGroup button {
  background-color: #04737c;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
}