* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:#B9DEE0;
    justify-content: center;
    align-items: flex-start;
}